streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface

sentence-transformers
transformers
torch

faiss-cpu

pypdf

google-generativeai

numpy
pandas
